export VISUAL=nvim
export EDITOR=nvim
alias e="$EDITOR"
alias vim="$EDITOR"
alias vi="$EDITOR"

# allows
alias sudo='sudo '

alias c='clear'

if command -v hub > /dev/null; then
  alias g='hub'
else
  alias g='git'
fi

alias d='docker'
alias dc='docker-compose'

alias l='ls -1A'             # Show files in one column.
alias ll='ls -lh'            # Show human readable.
alias la='ls -lhA'           # Show hidden files.
alias sl='ls'                # I often screw this up.

alias grep='() { $(whence -p grep) --color=auto $@ }'

# jdot init --bare $HOME/.jdots
# jdot config status.showUntrackedFiles no
alias jdot='/usr/bin/git --git-dir=$HOME/.jdot --work-tree=$HOME'

if [ -n "$ZSH_VERSION" ]; then
  alias -g X='| xargs'
  alias -g X%='| xargs -I %'
  alias -g G='| grep --color'
fi
