# Clone
# git clone --separate-git-dir=$HOME/.jdot git@github.com:JamesApple/.jdot.git  $HOME/.jdot-tmp
# rm -rf ~/.jdot-tmp/€ý.

# Brand new
# jdot init --bare $HOME/.jdots
# jdot config status.showUntrackedFiles no
alias jdot='/usr/bin/git --git-dir=$HOME/.jdot --work-tree=$HOME'


export VISUAL=nvim
export EDITOR=nvim

alias e="$EDITOR"
alias vim="$EDITOR"
alias vi="$EDITOR"

alias c='clear'

if command -v hub > /dev/null; then
  alias g='hub'
else
  alias g='git'
fi

alias d='docker'
alias dc='docker-compose'

alias k='kubectl'
alias kd='k describe'
alias kdel='k delete'
alias ke='k edit'
alias kg='k get'
alias kgp='kg pods'
alias kgd='kg deployments'
alias kgsvc='kg services'
alias kgsec='kg secrets'
alias kgi='kg ingresses'

# function kgg() {
#   resource_type="${1:-deployments}"
#   kg $resource_type | fzf --preview="kubectl describe $resource_type" --preview-window right:70%
# }

# Diff two resources
# TODO: Figure out why vim isn't reading file descriptors from -d
function kdiff() {
  resource_type="${1:-pods}"
  resource_list=$(k get $resource_type --no-headers )
  first_resource=$(printf $resource_list | fzf  | awk '{print $1}')
  if [ "$first_resource" != "" ]; then
    second_resource=$(printf $resource_list | grep -v $first_resource | fzf  | awk '{print $1}')
    if [ "$second_resource" != ""  ]; then
      diff <(k describe $resource_type $first_resource) <(k describe $resource_type $second_resource)  | e
    fi
  fi 
}

function kns() {
  if [[ "$1" != "" ]]; then
    k config set-context --current --namespace $1
    return
  fi

  ns=$(k get namespaces --no-headers | fzf | awk '{print $1}')
  if [ "$ns" != "" ]; then
    k config set-context --current --namespace $ns
  fi
}

alias kctx='k config get-contexts -o name | fzf X% kubectl config use-context %'

function ks() {
  secret=$(k get secrets --no-headers | fzf | awk '{print $1}')

  if [ $secret != "" ]; then
    k get secret $secret \
      -o go-template='{{range $k,$v := .data}}{{printf "%s: " $k}}{{if not $v}}{{$v}}{{else}}{{$v | base64decode}}{{end}}{{"\n"}}{{end}}'
  fi
}

function j() {
  local dir="$(fasd -Rdl "$1" | fzf -1 -0 --no-sort +m)" && cd "${dir}" || return 1
}

alias tf='terraform'

alias l='ls -1A'
alias ll='ls -lh'
alias la='ls -lhA'
alias lr='ls -lhR'
alias sl='ls'

alias t='tmuxinator'
alias tk='tmuxinator stop'
alias ts='tmuxinator start'
alias te='tmuxinator edit'

# Clone
# git clone --separate-git-dir=$HOME/.jdot git@github.com:JamesApple/.jdot.git  $HOME/.jdot-tmp
# rm -rf ~/.jdot-tmp/€ý.

# Brand new
# jdot init --bare $HOME/.jdots
# jdot config status.showUntrackedFiles no
alias jdot='/usr/bin/git --git-dir=$HOME/.jdot --work-tree=$HOME'


alias ecrlogin='aws ecr get-login --no-include-email --profile shrd --region=ap-southeast-2 | bash'
alias ap='docker run --interactive --tty --rm --volume $HOME/.aws:/root/.aws --volume $PWD:/workdir 870762961795.dkr.ecr.ap-southeast-2.amazonaws.com/ansible-deployment ansible-playbook' 

alias p="find ~/86400 -type d -exec test -e '{}/.git' ';' -print -prune | fzf"

if [ -n "$ZSH_VERSION" ]; then
  alias -g X='| xargs'
  alias -g X%='| xargs -I %'
  alias -g G='| rg '

  alias __pick="fzf --multi | awk '{print \$1}'"

  alias -g KGP='$(kgp | __pick)'
  alias -g KGD='$(kgd | __pick)'
fi

