global !p
from datetime import datetime

def getISO():
  return datetime.now().astimezone().isoformat()
endglobal

snippet fm "Frontmatter for jamesapple.com" b
---
title: "$1"
draft: true
date: `date +%Y-%m-%d`
tags: []
comments: true
summary: >
  $2
---
endsnippet

snippet diary "diary entry" bA
# `!v strftime("%Y-%m-%d")`

## Objectives
* ${1}

## Notes

endsnippet

snippet date "Date in ISO format" i
`!p if not snip.c: snip.rv = getISO()`
endsnippet
