extends javascript

snippet test "sinon standard test" bA
import sinon from 'sinon'

describe("$1", () => {
	let subject: $1
	const sandbox = sinon.createSandbox()

	afterEach(sandbox.reset)
	after(sandbox.reset)

	beforeEach(() => {
		$2
	})

	$3
})
endsnippet
