extends javascript

snippet class "Class" bA
class $1 {
	constructor($2) {}
}
endsnippet

snippet Iclass "Injectable class" bA
import { injectable } from 'tsyringe'

@injectable()
export class $1 {
	constructor($2) {}
}
endsnippet

